{% extends "base.html.twig" %}
{% block title %}
{{ program.title }} - Season #{{ season.number }} - {{ episode.title }}
{% endblock %}
{% block body %}
<div class="card my-2 mx-2" style="max-width:90vw;margin:auto">
    <div class="card-body">
        <h4 class="light">#{{episode.number}} - {{episode.title}}</h4>
        <p class="card-text light">{{ episode.synopsis }}</p>
        <div class="d-flex justify-content-evenly flex-wrap mt-3">
            {% if prev is not null %}
            <a class="btn btn-primary custom-btn" href="{{ path('program_episode_show', {program: prev.season.program.id, season: prev.season.id, episode: prev.id}) }}">{{ prev.season.program.title }} - Saison #{{prev.season.number}} - {{prev.title}}</a>
            {% endif %}
            {% if next is not null %}
            <a class="btn btn-primary custom-btn" href="{{ path('program_episode_show', {program: next.season.program.id, season: next.season.id, episode: next.id}) }}">{{ next.season.program.title }} - Saison #{{next.season.number}} - {{next.title}}</a>
            {% endif %}
        </div>
    </div>
</div>
<a href="{{ path('program_season_show',{program: program.id, season: season.id}) }}">
    Retour à la liste des épisodes
</a>
{% endblock %}