{% extends "base.html.twig" %}

{% block body %}
<div class="form text-center p-5">
    {{ form_start(form, {'method': 'POST'}) }}
    <div class="row">
        <h3>{{ form_label(form.title, 'Titre de la série', {'label_attr': {'class': 'form-label light'}}) }}</h3>
        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'style': 'max-width:28rem; margin:auto'}}) }}
    </div>
    <div class="row mt-3">
        <h3>{{ form_label(form.summary, 'Résumé', {'label_attr': {'class': 'form-label light'}}) }}</h3>
        {{ form_widget(form.summary, {'attr': {'class': 'form-control', 'style': 'max-width:28rem; margin:auto'}}) }}
    </div>
    <div class="row mt-3">
        <h3>{{ form_label(form.poster, 'Affiche', {'label_attr': {'class': 'form-label light'}}) }}</h3>
        {{ form_widget(form.poster, {'attr': {'class': 'form-control', 'style': 'max-width:28rem; margin:auto'}}) }}
    </div>
    <div class="row mt-3">
        <h3>{{ form_label(form.category, 'Catégorie de la série', {'label_attr': {'class': 'form-label light'}}) }}</h3>
        {{ form_widget(form.category, {'attr': {'class': 'form-select', 'style': 'max-width:28rem; margin:auto'}}) }}
    </div>
    <input class="btn btn-primary custom-btn mt-3" type="submit" value="Ajouter un program">
    {{ form_end(form) }}
</div>
{% endblock %}