{% extends "base.html.twig" %}
{% block title %}
Season
{% endblock %}
{% block body %}
<div class="media">
    <h1>{{program.title}}</h1>
    <h3>Saison {{season.number}}</h3>
    <p>{{season.description}}</p>
    <h5>Liste des épisodes:</h5>
    <div class="d-flex justify-content-evenly flex-wrap">
        {% for episode in episodes %}
        <div class="mx-2 my-2">
            <h4>
                #{{episode.number}} - {{episode.title}}
            </h4>
            <a href="{{ path('program_episode_show', {id: program.id, seasonId: season.id, episodeId: episode.id}) }}">Voir le résumé de l'épisode.</a>
        </div>
        {% endfor %}
    </ul>
</div>
<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>
{% endblock %}